<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amst1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Fury"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Presentacion"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentacion"/>
        <activity android:name=".CapitanAmerica"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Presentacion"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentacion"
            />
        <activity android:name=".Thanos"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Presentacion"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentacion"/>
        <activity android:name=".Spiderman"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Presentacion"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentacion"/>
        <activity android:name=".DoctorStrange"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Presentacion"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentacion"
            />
        <activity android:name=".IronMan"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Presentacion"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Presentacion"
            />
        <activity android:name=".Presentacion" />
        <activity android:name=".pantalla_bienvenida">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>